<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="./javascripts/style.js"></script>
    <script src="jquery-3.5.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body id="search" data-spy="scroll" data-target=".navbar" data-offset="60">

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
<!--            <a class="navbar-brand" href="/">Logo</a>-->
            <a href="/">
                <img src="/images/astrobio.png" alt="logo" width="180" height="47">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
<!--                <li><a href="/#about">ABOUT</a></li>-->
<!--                <li><a href="./community">COMMUNITY</a></li>-->
                <li><a href="/">HOME PAGE</a></li>
<!--                <li><a href="#sponsors">SPONSORS</a></li>-->
<!--                <li><a href="#project">PROJECT</a></li>-->
<!--                <li><a href="#support">SUPPORT US</a></li>-->
            </ul>
        </div>
    </div>
</nav>


<div class="jumbotron text-center container-fluid">
<!--    <div class="alert alert-info">-->
<!--        <strong>Search Complete!</strong> Please scroll below to view results.-->
<!--    </div>-->
<!--    <h1>ASTROBIO</h1>-->
    <h3>Differential gene expression analysis database for microgravity studies</h3>



    <form method="post" action="/">
        <div class="row">
            <div class="col-sm-4 container">
                <!--                <div class="form-group container">-->
                <!--                    <label for="organism" class="text-left">Organism</label>-->
                <!--                    <input type="search" class="form-control" name="organism" placeholder="Ex: Yeast">-->
                <label for="geneSymbol">Gene Name</label>
                <input type="search" class="form-control" name="geneSymbol" placeholder="Ex: HSP30">
                <label for="organism">Organism </label>
                <select class="form-control" id="organism" name="organism">
                    <option>ALL</option>
                    <option>Yeast</option>
                    <option>Bacteria</option>
                    <option>Plant</option>
                </select>
                <div style="display: none" id="myDIV">
                    <label for="fc">Expression Change</label>
                    <select class="form-control" id="fc" name="fc">
                        <option>ALL</option>
                        <option>Up Regulation</option>
                        <option>Down Regulation</option>
                        <!--                        <option>Unaffected</option>-->
                    </select>

                </div>
                <!--                </div>-->
            </div>
            <div class="col-sm-4 container">
                <!--                <div class="input-group">-->
                <!--                    <label for="organism" class="text-left">Organism</label>-->
                <!--                    <input type="search" class="form-control" name="organism" placeholder="Ex: Yeast">-->
                <label for="adjpval">Platform Open Reading Frame</label>
                <input type="search" class="form-control" name="adjpval" placeholder="Ex: YLR406C">
                <label for="species">Species</label>
                <input type="search" class="form-control" name="species" placeholder="Ex: Saccharomyces cerevisiae">

                <div style="display: none" id="myDIV2">
                    <label for="assayType">Assay Type</label>
                    <select class="form-control" id="assayType" name="assayType">
                        <option>ALL</option>
                        <option>Microarray</option>
                        <option>RNAseq</option>
                    </select>
                </div>
                <!--                </div>-->
            </div>
            <div class="col-sm-4 container">
                <label for="EGEOD">GEO Accession Number</label>
                <input type="search" class="form-control" name="EGEOD" placeholder="Ex: GSE4136">
                <label for="studyType">Microgravity Condition</label>
                <select class="form-control" id="studyType" name="studyType">
                    <option>ALL</option>
                    <option>HARV</option>
                    <option>RPM</option>
                    <option>SPACEFLOWN</option>
                    <option>HYPERBOLIC</option>
                </select>
            </div>
        </div>
        <br>
        <button type="button" onclick="myFunction();myFunction2();myFunction3()" class="btn btn-primary container"><div id="BTNT">+ Show more options</div> </button>
        <button type="submit" class="btn btn-danger container"> Submit </button>
    </form>


    <!--    <form>-->
    <!--        <div class="input-group">-->
    <!--            <input type="email" class="form-control" size="50" placeholder="Email Address" required>-->
    <!--            <div class="input-group-btn">-->
    <!--                <button type="button" class="btn btn-danger">Subscribe</button>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </form>-->
</div>

<div class="container-fluid text-center" id="targetGenes">
    <table style="width:100%;">
        <tbody>
        <tr>
            <td class="row" rowspan="8">
                <h2 class="text-left">Search Results</h2>
            </td>
            <td class="row"></td>
            <td class="row"></td>
            <td class="row"></td>
            <td class="row"></td>
            <td class="row"></td>
            <td class="row"></td>
            <td class="row"></td>
            <td class="text-right">
<!--                <a href="#" role="button" class="btn btn-custom">Email</a>-->
<!--                <a href="#" role="button" class="btn btn-custom">Export</a>-->
<!--                <input type="button" class="btn btn-default" onclick="sendMail();" value="Email">-->
                <input type="button" class="btn btn-default" onclick="printDiv('targetGenes')" value="Export/Print">
<!--                <input type="button" class="btn btn-default" onclick="printDiv('targetGenes')" value="Print">-->
            </td>
        </tr>
        </tbody>
    </table>
    <% if (Array.isArray(data)) { %>
    <p class="text-left"><%= count %> results found.</p>
    <% } else { %>
    <p class="text-left"> 0 results found.</p>
    <% } %>
    <p class="text-left">Note: Default results are sorted in ascending order by Adjusted P Value.</p>
    <div class="row">
        <div class="col-sm-4">
            <label for="LIMIT">Results per page</label>
            <select class="form-control"  id="LIMIT" name="LIMIT">
                <option>10</option>
                <option>50</option>
                <option>100</option>
                <option>500</option>
            </select>
        </div>
        <div class="col-sm-4">
            <label for="SORT">Sort by</label>
            <select class="form-control" id="SORT" name="SORT">
                <option>Adjusted P Value</option>
                <option>P Value</option>
                <option>Descending Expression Change</option>
                <option>Ascending Expression Change</option>
            </select>
        </div>
        <div class="col-sm-4">
            <br>
            <button type="submit" id="LIMITSORT" onclick="getNewLimitSort();" class="btn btn-danger container">Submit</button>
        </div>
    </div>
    <br>

<% if (Array.isArray(data)) { %>
        <% // display list (loop for doc number)
        for (var i = 0; i <data.length; i++) { %>
            <table class="table w-auto small" style="overflow-x:auto;" id="genes">
                <thead>
                <tr>
                    <th class="colwidth text-center">Gene Name</th>
                    <th class="colwidth text-center">Author(s)</th>
                    <th class="colwidth text-center">GEO Accession</th>
                    <th class="colwidth text-center">Microgravity Condition</th>
                    <th class="colwidth text-center">Expression Change (Log<sub>2</sub>FC) </th>
                    <th class="colwidth text-center">Species</th>
                    <th class="colwidth text-center">Generation</th>
                    <th class="colwidth text-center">Adjusted P Value</th>
                    <th class="colwidth text-center"> </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <%
                        // console.log(data[i].Gene.symbol.split('///'));
                        var geneSymbol = data[i].Gene.symbol.split('///');
                        // console.log(geneSymbol[0]);
                    %>
                    <td class="colwidth"><%= geneSymbol[0] %></td>
                    <% if(data[i].meta_data === "0") { %>
                    <td class="colwidth"><%= metaData[0].Experimenter %></td>
                    <% } else if (data[i].meta_data === "1") { %>
                    <td class="colwidth"><%= metaData1[0].Experimenter %></td>
                    <% } else if(data[i].meta_data === "2") { %>
                    <td class="colwidth"><%= metaData2[0].Experimenter %></td>
                    <% } else { %>
                    <td class="colwidth"><%= metaData3[0].Experimenter %></td>
                    <% } %>
                    <td class="colwidth"><%= data[i].EGEOD %></td>
                    <td class="colwidth"><%= data[i].StudyType %></td>
                    <%if(data[i].logFC >= 0) { %>
                    <td class="colwidth x"><%= data[i].logFC %></td>
                    <% } else  { %>
                    <td class="colwidth y"><%= data[i].logFC %></td>
                    <% }%>
                    <%if (data[i].Species === "saccharomyces cerevisiae") { %>
                    <td class="colwidth">Saccharomyces cerevisiae</td>
                    <% } else if (data[i].Species === "escherichia coli") { %>
                    <td class="colwidth">Escherichia coli</td>
                    <% } else if (data[i].Species === "arabidopsis thaliana") { %>
                    <td class="colwidth">Arabidopsis thaliana</td>
                    <% } else { %>
                    <td class="colwidth">Unknown Species</td>
                     <% }%>
                    <%if(data[i].Gen === "0") { %>
                        <td>Not Specified</td>
                   <%  } else { %>
                        <td class="colwidth"><%= data[i].Gen %></td>
                  <%  }%>
                    <td class="colwidth"><%= data[i].adj.P.Val %></td>
                    <td class="text-right">
                        <button class="a">
                            <a href="./gene/<%=data[i]._id%>" role="button" class="btn btn-primary">More Info</a>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
            <input type="hidden" id="selectedInput" value="<%=selectedInput%>">
            <input type="hidden" id="totalResults" value="<%=count%>">
        <%  } %>
            <div class="row">
                <div class="col-sm-6">
                    <button type="button" class="btn btn-danger" style="float: left;" onclick="getPrevious();" id="previous">
                        Previous
                    </button>
                </div>
                <div class="col-sm-6">
                    <button type="button" class="btn btn-danger" style="float: right;" onclick="getNext();" id="next">
                        Next
                    </button>
                </div>
            </div>
    <% } else { %>
        <h3><%=data%></h3>
    <% }%>
</div>


<script>

    var variable = document.getElementById('selectedInput').value;
    var counter = document.getElementById('totalResults').value;
    var glimit = document.getElementById('LIMIT').value;
    var gsort = document.getElementById('SORT').value;
    console.log(variable);
    console.log(glimit);
    console.log(gsort);
    var start = 0;
    var limit = 10;
    var query = variable;
    if(start === 0) {
        $('#previous').hide();
    }
    console.log(counter);
    if(counter <= limit) {
        console.log("Value of hidden counter is " + counter);
        $('#next').hide();
    }
    function getNewLimitSort() {
        glimit = document.getElementById('LIMIT').value;
        gsort = document.getElementById('SORT').value;
        console.log(glimit);
        console.log(gsort);
        limit = parseInt(glimit);
        $.ajax({
            url: "/get-genes/" + start + "/" + limit + "/" + query + "/" + gsort,
            method: "GET",
            dataType: "json",
            success: function (response) {
                console.log(response);
                console.log("GET NEW LIMIT BUTTON CLICKED");
                renderGenes(response);
            }
        }).done(function (response) {
            // console.log(response);
            // renderGenes(response);
        }).fail(function (e) {
            console.log(e);
        })
    }
    function getNext(){
        gsort = document.getElementById('SORT').value;
        start = start + limit;
        console.log("Start number is "+ start);
        console.log("Limit number is " + limit);
        counter = counter - limit;
        console.log("Counter number is " + counter);

        if(start > 0) {
            $('#previous').show();
        }
        if(counter <= limit) {
            console.log("Value of hidden counter is " + counter);
            $('#next').hide();
        }
        if(counter < 0) {
            console.log("Smaller or equal to 0, HIDE NEXT")
            $('#previous').hide();
        }
        $.ajax({
            url: "/get-genes/" + start + "/" + limit + "/" + query + "/" + gsort,
            method: "GET",
            dataType: "json",
            success: function (response) {
                console.log(response);
                console.log("NEXT BOTTON CLICKED");
                renderGenes(response);
            }
        }).done(function (response) {
            // console.log(response);
            // renderGenes(response);
        }).fail(function (e) {
            console.log(e);
        })
    }

    function getPrevious() {
        gsort = document.getElementById('SORT').value;
        if(start < limit) {
            $('#previous').hide();
        } else {
            start = start - limit;
            console.log(start);
            counter = counter + limit;
            console.log(counter);
            if(start <= 0) {
                console.log("IS IN THE IF CONDITION")
                $('#previous').hide();
            }
            if(counter > 0) {
                $('#next').show();
            }
            $.ajax({
                url: "/get-genes/" + start + "/" + limit + "/" + query + "/" + gsort,
                method: "GET",
                dataType: "json",
                success: function (response) {
                    console.log(response);
                    console.log("PREVIOUS BOTTON CLICKED");
                    // renderGenes(response);
                }
            }).done(function (response) {
                console.log(response);
                renderGenes(response);
            }).fail(function (e) {
                console.log(e);
            })
        }
    }

    function renderGenes(genes){
        $('#genes tr').hide();
        console.log("Render Genes function");
        console.log(genes.genes);
        html += '<div id="targetGenes">';
        if(genes.genes.length > 0) {
            var html = "";
            for(var a = 0; a < genes.genes.length; a++) {
                html += '<table class="table w-auto small" style="width:100%;" id="genes">';
                html += '<thead>';
                html += '<tr>';
                html += '<th class="colwidth text-center">Gene Name</th>';
                html += '<th class="colwidth text-center">Author(s)</th>';
                html += '<th class="colwidth text-center">GEO Accession</th>';
                html += '<th class="colwidth text-center">Microgravity Condition</th>';
                html += '<th class="colwidth text-center">Expression Change (Log<sub>2</sub>FC)</th>';
                html += '<th class="colwidth text-center">Species</th>';
                html += '<th class="colwidth text-center">Generation</th>';
                html += '<th class="colwidth text-center">Adjusted P Value</th>';
                html += '<th class="colwidth text-center"> </th>';
                html += '</tr>';
                html += '</thead>';
                html += '<tbody>';
                html += '<tr>';
                var geneSymbol = genes.genes[a].Gene.symbol.split('///');
                html += '<td class="colwidth">'+ geneSymbol[0] +'</td>';
                if(genes.genes[a].meta_data === "0") {
                    html += '<td class="colwidth">' + genes.metaData0[0].Experimenter + '</td>';
                }else if (genes.genes[a].meta_data === "1") {
                    html += '<td class="colwidth">' + genes.metaData1[0].Experimenter + '</td>';
                } else if(genes.genes[a].meta_data === "2") {
                    html += '<td class="colwidth">' + genes.metaData2[0].Experimenter + '</td>';
                } else {
                    html += '<td class="colwidth">' + genes.metaData3[0].Experimenter + '</td>';
                }
                html += '<td class="colwidth">' + genes.genes[a].EGEOD + '</td>';
                html += '<td class="colwidth">' + genes.genes[a].StudyType + '</td>';
                if(genes.genes[a].logFC >= 0) {
                html += '<td class="colwidth x">' + genes.genes[a].logFC+ '</td>';
                } else  {
                html += '<td class="colwidth y">' + genes.genes[a].logFC + '</td>';
                }
                if (genes.genes[a].Species === "saccharomyces cerevisiae") {
                    html += '<td class="colwidth">Saccharomyces cerevisiae</td>';
                } else if (genes.genes[a].Species === "escherichia coli") {
                    html += '<td class="colwidth">Escherichia coli</td>';
                } else if (genes.genes[a].Species === "arabidopsis thaliana") {
                    html += '<td class="colwidth">Arabidopsis thaliana</td>';
                } else {
                    html += '<td class="colwidth">Unknown species</td>';
                }
                if(genes.genes[a].Gen === "0") {
                html += '<td>Not Specified</td>';
                } else {
                html += '<td class="colwidth">' + genes.genes[a].Gen + '</td>';
                }
                html += '<td class="colwidth">' + genes.genes[a].adj.P.Val + '</td>';
                html += '<td class="text-right">';
                html += '<button class="a">';
                html += '<a href="./gene/' + genes.genes[a]._id + '" role="button" class="btn btn-primary">More Info</a>';
                html += '</button>';
                html += '</td>';
                html += '</tr>';
                html += '</tbody>';
                html += '</table>';
                html += '</div>';
            }
            $("#genes").html(html);
        }
    }

    // $('#getNext').click(function () {
    //     $('#genes').hide("slow", function () {
    //         alert("Animation Complete");
    //     })
    // })

</script>

<!--<footer>-->
<!--    <p>Author: Maher Hassanain<br>-->
<!--        <a href="mailto:hege@example.com">mah_has@encs.concordia.ca</a></p>-->
<!--</footer>-->

<!-- Footer -->
<footer class="container-fluid text-center bg-grey">
    <a href="#search" title="To Top">
        <span class="glyphicon glyphicon-chevron-up"></span>
    </a>
    <p> © 2020 iGEM Concordia. All rights reserved.</p>
</footer>
<!--<footer class="page-footer font-small blue">-->
<!--    <div class="footer-copyright text-center py-3">© 2020 Created by Maher Hassanain. All Rights Reserved.-->
<!--        <p> DE Analysis: Benjamin Clark</p>-->
<!--        <br>-->
<!--        <br>-->
<!--    </div>-->
<!--</footer>-->

</body>

<!--<nav class="navbar navbar-inverse">-->
<!--    <div class="container-fluid">-->
<!--        <div class="navbar-header">-->
<!--            <a class="navbar-brand" href="#">A Yeast Odyssey </a>-->
<!--        </div>-->
<!--        <ul class="nav navbar-nav">-->
<!--            &lt;!&ndash;      <li class="active"><a href="#">Home</a></li>&ndash;&gt;-->
<!--        </ul>-->
<!--    </div>-->
<!--</nav>-->

<!--<div class="jumbotron text-center">-->
<!--    <img src="../images/astroyeast.png" class="img-rounded" alt="Logo" >-->
<!--    &lt;!&ndash;  <h1> </h1>&ndash;&gt;-->
<!--</div>-->

<!--<div class="container">-->
<!--    <div class="row">-->
<!--        <div class="form-group">-->
<!--            <label for="txt">Search for a Gene:</label>-->
<!--            <form method="post" action="/">-->
<!--                <input type="search" class="form-control" name="txt">-->
<!--                <br>-->
<!--                <button type="submit" class="btn btn-primary"> Submit </button>-->
<!--            </form>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--<div class="container">-->
<!--    <div class="row">-->
<!--        <div class="form-group">-->
<!--            <label for="txt">Search for a Gene:</label>-->
<!--            <br>-->
<!--            <form method="post" action="/">-->
<!--                <input type="search" class="form-control" name="txt" placeholder="Gene name. ex: PXR1">-->
<!--                &lt;!&ndash;      <input type="search" class="form-control" name="logfc" placeholder="Up or down">&ndash;&gt;-->
<!--                <div class="form-group">-->
<!--                    <label for="sel1"></label>-->
<!--                    <select class="form-control" id="sel1" name="sel1">-->
<!--                        <option>Up</option>-->
<!--                        <option>Down</option>-->
<!--                    </select>-->
<!--                </div>-->
<!--                <input type="search" class="form-control" name="adjpval" placeholder="Smallest adjusted P value accepted">-->
<!--                <br>-->
<!--&lt;!&ndash;                <input type="search" class="form-control" name="platORF" placeholder="Platform_ORF is placed here">&ndash;&gt;-->
<!--&lt;!&ndash;                <br>&ndash;&gt;-->
<!--                &lt;!&ndash;      <input type="search" class="form-control" name="maxp" placeholder="Max adjusted P value accepted">&ndash;&gt;-->
<!--                &lt;!&ndash;      <br>&ndash;&gt;-->
<!--                <button type="submit" class="btn btn-primary"> Submit </button>-->
<!--            </form>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!-- Footer -->