<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="./javascripts/style.js"></script>
    <script src="jquery-3.5.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body id="search" data-spy="scroll" data-target=".navbar" data-offset="60">

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
<!--                <span class="icon-bar"></span>-->
<!--                <span class="icon-bar"></span>-->
            </button>
            <a class="navbar-brand" href="/">Logo</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/">HOME PAGE</a></li>
                <!--                <li><a href="#services">SERVICES</a></li>-->
<!--                <li><a href="#sponsors">SPONSORS</a></li>-->
<!--                <li><a href="#project">PROJECT</a></li>-->
<!--                <li><a href="#support">SUPPORT US</a></li>-->
            </ul>
        </div>
    </div>
</nav>


<div class="jumbotron text-center">
    <h1>ASTROBIO</h1>
    <p>Differential gene expression analysis on control vs microgravity induced samples</p>
    <br>
    <form method="post" action="/">
        <div class="row">
            <div class="col-sm-6 container-fluid">
                <!--                <div class="form-group container">-->
                <!--                    <label for="organism" class="text-left">Organism</label>-->
                <!--                    <input type="search" class="form-control" name="organism" placeholder="Ex: Yeast">-->
                <label for="geneSymbol">Gene Symbol</label>
                <input type="search" class="form-control" name="geneSymbol" placeholder="Gene Symbol Ex: HSP30">
                <br>
                <label for="species">Species</label>
                <input type="search" class="form-control" name="species" placeholder="Species name Ex: Saccharomyces cerevisiae">
                <br>
                <div style="display: none" id="myDIV">
                    <label for="fc">Fold Change</label>
                    <select class="form-control" id="fc" name="fc">
                        <option>ALL</option>
                        <option>Up</option>
                        <option>Down</option>
                        <option>Unaffected</option>
                    </select>
                    <br>
                    <label for="organism">Organism </label>
                    <select class="form-control" id="organism" name="organism">
                        <option>ALL</option>
                        <option>Human</option>
                        <option>Yeast</option>
                        <option>Bacteria</option>
                    </select>
                </div>
                <!--                </div>-->
            </div>
            <div class="col-sm-6 container-fluid">
                <!--                <div class="input-group">-->
                <!--                    <label for="organism" class="text-left">Organism</label>-->
                <!--                    <input type="search" class="form-control" name="organism" placeholder="Ex: Yeast">-->
                <label for="EGEOD">E-GEOD Number</label>
                <input type="search" class="form-control" name="EGEOD" placeholder="Accession #">
                <br>
                <label for="adjpval">Platform Open Reading Frame</label>
                <input type="search" class="form-control" name="adjpval" placeholder="Platform ORF Ex: YLR406C">
                <div style="display: none" id="myDIV2">
                    <br>
                    <label for="studyType">StudyType</label>
                    <select class="form-control" id="studyType" name="studyType">
                        <option>ALL</option>
                        <option>HARV</option>
                        <option>RPM</option>
                        <option>SPACEFLOWN</option>
                        <option>HYPERBOLIC</option>
                    </select>
                    <br>
                    <label for="assayType">Assay Type</label>
                    <select class="form-control" id="assayType" name="assayType">
                        <option>ALL</option>
                        <option>Microarray</option>
                        <option>RNAseq</option>
                    </select>
                </div>
                <!--                </div>-->
            </div>
        </div>
        <button type="button" onclick="myFunction();myFunction2();myFunction3()" class="btn btn-primary container"><div id="BTNT">Show More Options</div> </button>
        <button type="submit" class="btn btn-danger container"> Submit </button>
    </form>

    <!--    <form>-->
    <!--        <div class="input-group">-->
    <!--            <input type="email" class="form-control" size="50" placeholder="Email Address" required>-->
    <!--            <div class="input-group-btn">-->
    <!--                <button type="button" class="btn btn-danger">Subscribe</button>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </form>-->
</div>

<div class="container-fluid text-center">
    <table style="width:100%;">
        <tbody>
        <tr>
            <td class="row" rowspan="8">
                <h2 class="text-left">Search Results</h2>
            </td>
            <td class="row"></td>
            <td class="row"></td>
            <td class="row"></td>
            <td class="row"></td>
            <td class="row"></td>
            <td class="row"></td>
            <td class="row"></td>
            <td class="text-right">
                <a href="#" role="button" class="btn btn-custom">Email</a>
                <a href="#" role="button" class="btn btn-custom">Export</a>
                <a href="#" role="button" class="btn btn-custom">Print</a>
            </td>
        </tr>
        </tbody>
    </table>

    <p class="text-left"><%= data.length %> studies found.</p>
    <p class="text-left">Note: results are sorted in ascending order by Adjusted P Value.</p>
    <br>

    <% if (Array.isArray(data)) { %>
        <% // display list (loop for doc number)
        for (var i = 0; i <data.length; i++) { %>
            <table class="table" style="width:100%;">
                <thead>
                <tr>
                    <th class="colwidth text-center">Gene Name</th>
                    <th class="colwidth text-center">Author(s)</th>
                    <th class="colwidth text-center">Study Type</th>
                    <th class="colwidth text-center">Log<sub>2</sub>FC</th>
                    <th class="colwidth text-center">Organism</th>
                    <th class="colwidth text-center">Species</th>
                    <th class="colwidth text-center">Generation</th>
                    <th class="colwidth text-center">Adjusted P Value</th>
                    <th class="colwidth text-center"> </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="colwidth"><%= data[i].Gene.symbol%></td>
                    <td class="colwidth">TBD</td>
                    <td class="colwidth">TBD<%= data[i].StudyType %></td>
                    <td class="colwidth"><%= data[i].logFC %></td>
                    <td class="colwidth"><%= data[i].Organism %></td>
                    <td class="colwidth"><%= data[i].Species %></td>
                    <%if(data[i].Gen === "0") { %>
                        <td>Not Specified</td>
                   <%  } else { %>
                        <td class="colwidth"><%= data[i].Gen %></td>
                  <%  }%>
                    <td class="colwidth"><%= data[i].adj.P.Val %></td>
                    
                    <td class="text-right">
                        <a href="./gene/<%=data[i]._id%>" role="button" class="btn btn-custom">More Info</a> 
                    </td>
                </tr>
                </tbody>
            </table>
        <%  } %>
    <% } else { %>
        <h3><%=data%></h3>
    <% }%>    
</div>

<!--<footer>-->
<!--    <p>Author: Maher Hassanain<br>-->
<!--        <a href="mailto:hege@example.com">mah_has@encs.concordia.ca</a></p>-->
<!--</footer>-->

<!-- Footer -->
<footer class="container-fluid text-center bg-grey">
    <a href="#search" title="To Top">
        <span class="glyphicon glyphicon-chevron-up"></span>
    </a>
    <p>footer</p>
</footer>
<!--<footer class="page-footer font-small blue">-->
<!--    <div class="footer-copyright text-center py-3">© 2020 Created by Maher Hassanain. All Rights Reserved.-->
<!--        <p> DE Analysis: Benjamin Clark</p>-->
<!--        <br>-->
<!--        <br>-->
<!--    </div>-->
<!--</footer>-->

</body>

<!--<nav class="navbar navbar-inverse">-->
<!--    <div class="container-fluid">-->
<!--        <div class="navbar-header">-->
<!--            <a class="navbar-brand" href="#">A Yeast Odyssey </a>-->
<!--        </div>-->
<!--        <ul class="nav navbar-nav">-->
<!--            &lt;!&ndash;      <li class="active"><a href="#">Home</a></li>&ndash;&gt;-->
<!--        </ul>-->
<!--    </div>-->
<!--</nav>-->

<!--<div class="jumbotron text-center">-->
<!--    <img src="../images/astroyeast.png" class="img-rounded" alt="Logo" >-->
<!--    &lt;!&ndash;  <h1> </h1>&ndash;&gt;-->
<!--</div>-->

<!--<div class="container">-->
<!--    <div class="row">-->
<!--        <div class="form-group">-->
<!--            <label for="txt">Search for a Gene:</label>-->
<!--            <form method="post" action="/">-->
<!--                <input type="search" class="form-control" name="txt">-->
<!--                <br>-->
<!--                <button type="submit" class="btn btn-primary"> Submit </button>-->
<!--            </form>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--<div class="container">-->
<!--    <div class="row">-->
<!--        <div class="form-group">-->
<!--            <label for="txt">Search for a Gene:</label>-->
<!--            <br>-->
<!--            <form method="post" action="/">-->
<!--                <input type="search" class="form-control" name="txt" placeholder="Gene name. ex: PXR1">-->
<!--                &lt;!&ndash;      <input type="search" class="form-control" name="logfc" placeholder="Up or down">&ndash;&gt;-->
<!--                <div class="form-group">-->
<!--                    <label for="sel1"></label>-->
<!--                    <select class="form-control" id="sel1" name="sel1">-->
<!--                        <option>Up</option>-->
<!--                        <option>Down</option>-->
<!--                    </select>-->
<!--                </div>-->
<!--                <input type="search" class="form-control" name="adjpval" placeholder="Smallest adjusted P value accepted">-->
<!--                <br>-->
<!--&lt;!&ndash;                <input type="search" class="form-control" name="platORF" placeholder="Platform_ORF is placed here">&ndash;&gt;-->
<!--&lt;!&ndash;                <br>&ndash;&gt;-->
<!--                &lt;!&ndash;      <input type="search" class="form-control" name="maxp" placeholder="Max adjusted P value accepted">&ndash;&gt;-->
<!--                &lt;!&ndash;      <br>&ndash;&gt;-->
<!--                <button type="submit" class="btn btn-primary"> Submit </button>-->
<!--            </form>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!-- Footer -->